$calendar-color: #000000 !default;
$calendar-background: #ffffff !default;
$calendar-month-button-background: #61d5ff !default;
$calendar-month-button-background-hover: #2ec7ff !default;
$calendar-month-button-icon-color: rgb(52, 73, 94) !default;
$calendar-day-selected-background: #61d5ff !default;
$calendar-day-hover-background: #f2f2f2 !default;
$calendar-day-in-range-background: #61d5ff !default;
$calendar-width: 300px !default;
$calendar-padding: 10px !default;
$cell-margin: 2px !default;
$cell-size: (($calendar-width - $calendar-padding * 2) / 7) - ($cell-margin * 2) !default;
$calendar-shadow: rgba($calendar-color, 0.25) 0 0 1em !default;

.rdr-DateRange {
    display: block;
    box-sizing: border-box;
    background: $calendar-background;
    text-align: center;

    .rdr-Calendar {
        box-shadow: none;
    }
}

.rdr-Calendar {
    display: inline-block;
    box-sizing: border-box;
    width: $calendar-width;
    padding: $calendar-padding;
    letter-spacing: 0;
    color: $calendar-color;
    background: $calendar-background;
}

.rdr-MonthAndYear-innerWrapper {
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    line-height: 45px;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
}

.rdr-MonthAndYear-button {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 2px;
    outline: none;
    background: $calendar-month-button-background;
    box-shadow: none;
    &:hover {
      background: $calendar-month-button-background-hover;
    }

    i {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg);
    }

    &.prev {
        float: left;

        i {
            border-top: none;
            border-right: none;
            left: 5px;
        }
    }

    &.next {
        float: right;

        i {
            border-bottom: none;
            border-left: none;
            right: 5px;
        }
    }
}

.rdr-WeekDay {
    font-size: 12px;
    text-transform: uppercase;
    color: #ccc;
    line-height: $cell-size / 2;
    display: inline-block;
    box-sizing: border-box;
    width: $cell-size;
    height: $cell-size / 2;
    margin: 2px;
    text-align: center;
    letter-spacing: initial;
}

.rdr-Day {
    font-size: 12px;
    line-height: $cell-size;
    display: inline-block;
    box-sizing: border-box;
    width: $cell-size;
    height: $cell-size;
    cursor: pointer;
    transition: transform 0.1s ease;
    text-align: center;
    letter-spacing: initial;
    margin: $cell-margin;
    border-radius: 2px;
    color: #777;
    
    &.is-passive {
        cursor: normal;
        opacity: 0.4;
    }

    &.is-selected {
        color: $calendar-background;
        background: $calendar-day-selected-background;
    }

    &:hover:not(.is-selected) {
        background: $calendar-day-hover-background;
    }
    
    &.is-inRange {
        color: $calendar-background;
        background: $calendar-day-in-range-background;
        &:hover {
          background: $calendar-day-in-range-background;
        }
    }
}
